@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Boldonse", system-ui;
  }

  body{
    background-color: #fff;
    color: #565656;
    
  }

  .heading1{
    padding-top: 10px;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
    margin-left: 90px;
  }

  .main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
  }
  
  h2{
    text-decoration: underline;
    font-size: 20px;
  }

  .shortcuts{
    border: 1px solid #000;
    padding: 4px;
    background-color: #c5c4c4;
    color: #fff;
  }

  .content1{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 10px;
    justify-content: center;
  }

  .content2{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .regular-inputs{
    height: 25px;
    width: 40px;
    font-size: 10px;
  }

  .container {
    display: flex;
    align-items: center;
    background-color: #cbcbcb;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #000;

  }

  .cubes{
    background-color: #fff;
    aspect-ratio: 1/1;
    border: 1px solid #cbcbcb;
  }

  .regular-btn{
    width: 60px;
    padding: 4px;
    border-radius: 10px;
    border: 1px dotted #000;
    background-color: #eeeded;
    font-size: 12px;
  }
  
/* Untill the site is made responsive */
@media (max-width: 1100px) {
    body::before {
        content: "Not responsive yet! use bigger screen.";
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #000000cc;
        color: white;
        padding: 20px;
        font-size: 24px;
        text-align: center;
        width: 80%;
        border-radius: 10px;
        z-index: 1;
    }

    
    body * {
        filter: blur(20px);
        pointer-events: none;
    }
}
